.nav-link{
    margin-left: 40px;
    

}
.footerlink{
    text-decoration: none;
    color:#424242;
    margin-right:15px;
}
.footerglink{
    text-decoration: none;
    color:#585757;
    
}
.footerheading{
    color:#424242;
}

.footer-graveyard-links{
    margin-left: 50px;
    margin-right: 50px;
}
.columns{
    display:flex;
    flex-direction: column;
  
}
.columns a{
    margin-top: 10px;
}

.between{
    display: flex;
    justify-content: space-between;
}

.universe div p {
    color: rgba(0, 0, 0, 0.5) !important;
}

.universe div img{
    margin: 15px !important;
}